.navbar-custom {
  background-color: rgba(61, 179, 248, 0.7)
}
.navbar-custom-brand {
}@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;

    background-image: url('img/white_logo_transparent_background.png');

    background-position: inherit;

    background-size: cover;

    color: rgba(0, 0, 0, 0);
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 7px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;

    color: rgba(0, 0, 0, 0);

    background-image: url('img/logo_transparent_background.png');

    background-position: center center;

    background-size: contain;
    }
}.navbar-default .navbar-brand{  color: rgba(0, 0, 0, 0);background-image: url('img/white_logo_transparent_background.png');background-size: cover;background-position: center center;width: 231px}.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand.pg-state-hover,.navbar-default .navbar-brand.pg-state-hover,.navbar-default .navbar-brand.pg-state-focus{color:rgba(24, 188, 156, 0);background-image: url('img/logo_white_background_3D_new.png')}.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a.pg-state-hover,.navbar-default .navbar-nav>li>a.pg-state-hover,.navbar-default .navbar-nav>li>a.pg-state-focus{color:#000000;background-color:transparent}.navbar-default .navbar-collapse,.navbar-default .navbar-form{border-color:transparent;text-align: center;font-family: bangers;font-size: 19px}.navbar-default,
.navbar-inverse {
    border: 0;border-bottom-left-radius: 52px;border-bottom-right-radius: 50px;
}header {
    text-align: center;
    color: #fff;background-color: #3db3f8;font-family: bangers;box-shadow-type-0: outside;box-shadow: -1px 9px 75px 41px #3db3f8;
}header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: bangers;
    font-size: 4em;
    font-weight: 700;letter-spacing: 10px;transition: text-shadow 537ms ease-out 1ms;text-shadow: 7px -4px 9px #0f0f0f;
}.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;background-color: #38b5fe;
}hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;box-shadow-type-0: outside;
}hr.star-light {
    border-color: #fff;
}#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;background-color: #38b5fe;
}section.success {
    color: #fff;background-color: #38b5fe;font-family: bangers;font-variant: small-caps;box-shadow-type-0: inside;box-shadow: inset 0px 55px 77px , 1px 43px 49px -1px #38b5fe;
}.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a.pg-state-hover,.navbar-default .navbar-nav>.active>a.pg-state-hover,.navbar-default .navbar-nav>.active>a.pg-state-focus{color:#ffffff;background-color:#1a242f;border-radius: 20px;border: 2px outset #ffffff}footer {
    color: #fff;text-shadow: 5px 0px 17px;
}footer .footer-above {
    padding-top: 50px;
    background-color: #38b5fe;box-shadow: -8px -24px 50px 21px #38b5fe;font-family: bangers;
}footer .footer-below {
    padding: 25px 0;
    background-color: #000000;font-family: bangers;box-shadow-type-0: inside;box-shadow: inset 0px -12px 31px;
}footer h3 {
    margin-bottom: 30px;font-family: bangers;letter-spacing: 4px;
}a,
a:hover,
a:focus,
a:active,
a.active,a.pg-state-focus,a.pg-state-focus,a.pg-state-hover,a.pg-state-focus,a.pg-state-active {
    outline: 0;
    color: #18bc9c;
}.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active,.btn-outline.pg-state-focus,.btn-outline.pg-state-focus,.btn-outline.pg-state-hover,.btn-outline.pg-state-focus,.btn-outline.pg-state-active {
    border: solid 2px #fff;
    color: #000000;
    background: #fff;
}#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}.img-responsive,.thumbnail>img,.thumbnail a>img,.carousel-inner>.item>img,.carousel-inner>.item>a>img{display:block;max-width:100%;height:auto;border-style: inset;border-color: #000000;background-size: cover}